<div class="education">
  <div class="school">
    <h1>The University of Arizona</h1>
    <div class="school-info">
      <p>
            LangApex is an English Language teaching course in Namangan, Uzbekistan.
            In my high-school years, I used to go to this course and learn English, where I myself
            worked as a tutor later after graduation.
            The course and the team of tutors in this course helped me to push my limits
            in learning, teaching,(add some more items)

    </p>
    </div>
  </div>

  <div class="school">
  <h1>LangApex, Time Trusted Quality</h1>
    <div class="school-info">
<p>

      LangApex is an English Language teaching course in Namangan, Uzbekistan.
      In my high-school years, I used to go to this course and learn English, where I myself
      worked as a tutor later after graduation.
      The course and the team of tutors in this course helped me to push my limits
      in learning, teaching...
      </p>
    </div>
  </div>
  <div class="school">
    <h1>The Second Boarding School</h1>
    <div class="school-info">

      <p>
      I graduated from Second Specialied Boarding school
      in Namangan, Uzbekistan. There, I built my core knowledge on subjects
      like Math and Physics. The school enabled me to grow as an
      independent individual and...
      </p>
    </div>
  </div>
  <br>
  <div class="connections">

    <div class="contact">
      <img src="" alt="">
      <h2>connections:</h2>
      Something here

    </div>
    <div class="contact">
      <img src="" alt="">
      <h2>connections:</h2>
      Something here

    </div>
    <div class="contact">
      <img src="" alt="">
      <h2>connections:</h2>
      Something here

    </div>
  </div>

  <br>

</div>
