<div class="education">
          <div class = "school">
            <img src="" alt="">
            <div class="info">
            <h1>The Second Boarding School</h1>
            I graduated from Second Specialied Boarding school
            in Namangan. There, I built my core knowledge on subjects
            like Math and Physics. The school enabled me to grow as an
            independent individual.
            </div>
          </div>
          <br>
          <div class = "school">
            <img src="" alt="">
            <div class="info">
            <h1>The course</h1>
            Lorem impum
            Lorem impum
            Lorem impum
            Lorem impum
            Lorem impum
            Lorem impum
            </div>
          </div>
          <br>
          <div class = "school">
            <img src="" alt="">
            <div class="info">
            <h1>The University of Arizone</h1>
            Lorem impum
            Lorem impum
            Lorem impum
            Lorem impum
            Lorem impum
            Lorem impum
            </div>
          </div>
</div>
