<div class="education">
  <div class="school">
    <h1>The University of Arizona</h1>
    <div class="school-info">
      <p>
        I have been studying here at UofA for 3 years now, and I  am pursuing
        the Bachelor's degree in Computer Science. In these years, I have gained
        extensive amount of programming as well as other general academic knowledge.
        The Instructors and Faculty staff is always ready to help whenever in need.
        Computer Science department works extensively with external sources to give the
        students the best experience to build their career.
      </p>
    </div>
  </div>

  <div class="school">
    <h1>LangApex, Time Trusted Quality</h1>
    <div class="school-info">
      <p>

        LangApex is an English Language teaching course in Namangan, Uzbekistan.
        In my high-school years, I used to go to this course and learn English, where I myself
        worked as a tutor later after graduation.
        The course and tutors' team in this course helped me to push my limits
        in learning, teaching, and understanding English. Following these people's
        instructions, I  was able to get accepted to several US universities and
        had the chance of aqcuiring world-class knowledge here in US.
      </p>
    </div>
  </div>
  <div class="school">
    <h1>The Second Boarding School</h1>
    <div class="school-info">

      <p>
        I graduated from Second Specialied Boarding school
        in Namangan, Uzbekistan. There, I built my core knowledge on subjects
        like Math and Physics. The school enabled me to grow as an
        independent individual, and helped me to make friends with many competitive,
        supportive, and feels-good-together friends.
      </p>
    </div>
  </div>
  <br>
  <div class="connections">

    <div class="contact">
      <div class="contact-pic">
        <img src="/images/profilepic.jpg" alt="">
      </div>
      <div class="contact-info">

        <h2>Jane, Doe</h2>
        <p>SWE at *.</p>
      </div>

    </div>
    <div class="contact">
      <div class="contact-pic">
        <img src="/images/profilepic.jpg" alt="">
      </div>
      <div class="contact-info">

        <h2>Jane, Doe</h2>
        <p>SWE at *.</p>
      </div>

    </div>
    <div class="contact">
      <div class="contact-pic">
        <img src="/images/profilepic.jpg" alt="">
      </div>
      <div class="contact-info">

        <h2>Jane, Doe</h2>
        <p>SWE at *.</p>
      </div>

    </div>
  </div>

  <br>

</div>
