<div class="education">
  <div class="school">
    <h1>The University of Arizona</h1>
    <div class="school-info">
      <p>The University of Arizona's Computer Science program offers a comprehensive curriculum preparing students for careers in industry or graduate studies. The Bachelor of Computer Science degree emphasizes theoretical foundations and practical skills, with access to state-of-the-art facilities and resources. The program encourages real-world experience through internships and co-ops. Graduates are well-prepared for a wide range of careers in the technology industry.</p>
    </div>
  </div>

  <div class="school">
    <h1>LangApex, Time Trusted Quality</h1>
    <div class="school-info">
      <p>

    LangApex is an English Language teaching center located in Namangan, Uzbekistan. It is known for its high-quality instruction and dedicated team of tutors who helped students, like myself, to push their limits in learning, teaching, and understanding English. The course helped me to gain acceptance to several US universities and acquire world-class knowledge. It is a great place to learn English and improve your language skills.
      </p>
    </div>
  </div>
  <div class="school">
    <h1>The Second Boarding School</h1>
    <div class="school-info">

      <p>
        Second Boarding School is a reputable educational institution known for its high academic standards, diverse curriculum, and strong extracurricular programs. As a graduate, I received a well-rounded education and developed key skills, thanks to the dedicated and experienced faculty. The school provided a supportive and inclusive environment, where I was able to form lasting friendships and excel in both academic and personal pursuits. I am grateful for the experiences and opportunities they provided to excel in my future endeavors.
      </p>
    </div>
  </div>
  <br>
  <div class="connections">
    <h1>References:</h1>
    <div class="contact">
      <div class="contact-pic">
        <img src="/images/reference/devesh.jpg" alt="">
      </div>
      <div class="contact-info">

        <h2>Devesh Khosla</h2>
        <p>Senior Software Engineer at Facilities Management</p>
        <i class="fa-brands fa-linkedin"></i>
      </div>

    </div>
    <div class="contact">
      <div class="contact-pic">
        <img src="/images/reference/ben.jpeg" alt="">
      </div>
      <div class="contact-info">
        <h2>Benjamin Dicken</h2>
        <p>Computer Science Faculty at the University of Arizona</p>
      </div>

    </div>
    <div class="contact">
      <div class="contact-pic">
        <img src="/images/profilepic.jpg" alt="">
      </div>
      <div class="contact-info">

        <h2>Jane, Doe</h2>
        <p>SWE at *.</p>
      </div>

    </div>
  </div>

  <br>

</div>
