<div class="container col-12">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col">
      <!-- <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a> -->
      <span class="text-muted">Ali's website</span>
    </div>
    <div class="footer container" style="">
      <div class="row">
          <div class="col-lg-auto col-sm-12">
          <a class="footer-icon" href="https://github.com/Eldorbek2001/">Github <i class="fab fa-light fa-github fa-lg footer-icon"></i></a>
          </div>
          <div class="col-lg-auto col-sm-12">
            <a class="footer-icon" href="https://www.instagram.com/alielbekov/">Instagram <i class="fab fa-light fa-instagram fa-lg footer-icon"></i></a>
          </div>

          <div class="col-lg-auto col-sm-12">
            <a class="footer-icon" href="https://t.me/aliyelbekov">Telegram <i class="fab fa-light fa-telegram fa-lg footer-icon"></i></a>
          </div>

          <div class="col-lg-auto col-sm-12">
            <a class="footer-icon" href="mailto:eldorbek2001@arizona.edu">Email <i class="fas fa-light fa-envelope fa-lg footer-icon"></i></a>
          </div>
    </div>
    </div>
  </footer>
</div>

<script type="text/javascript">
</script>
</body>
</html>
