<div class="container col-12">
  <footer class="py-3 my-4">

    <div class="footer container-fluid" style="margin-left:auto; margin-right:auto;">
      <div class="row" style="text-align: center;">
          <div class="col-lg-auto col-md-3">
          <a class="footer-icon" href="https://github.com/Eldorbek2001/">Github <i class="fab fa-light fa-github fa-lg footer-icon"></i></a>
          </div>
          <div class="col-lg-auto col-md-3">
            <a class="footer-icon" href="https://www.instagram.com/alielbekov/">Instagram <i class="fab fa-light fa-instagram fa-lg footer-icon"></i></a>
          </div>

          <div class="col-lg-auto col-md-3">
            <a class="footer-icon" href="https://t.me/aliyelbekov">Telegram <i class="fab fa-light fa-telegram fa-lg footer-icon"></i></a>
          </div>

          <div class="col-lg-auto col-md-3">
            <a class="footer-icon" href="mailto:eldorbek2001@arizona.edu">Email <i class="fas fa-light fa-envelope fa-lg footer-icon"></i></a>
          </div>
    </div>
    </div>

  </footer>

</div>


<!--







 -->

<script type="text/javascript">
</script>
</body>
</html>
