<div class="me">
  <img class = "profile profile-pic" src="images/earth1.jpg" alt="profile-pic.jpg">
  <p>Hello, my name is Ali!</p>
    <ul>
      <li>me, age</li>
      <li>country</li>
      <li>current</li>
    </ul>
</div>
