<div class="landing">
  <div class="myshadow">
    <div class="me">
      <img class="profile profile-pic" src="images/profilepic.jpg" alt="profile-pic.jpg">
      <br>
      <p style="margin-top: 10px; font-size: 20px;">Ali, Computer Science student at the University of Arizona.</p>
      <p style="margin-top: 10px; font-size: 25px; color: white;">I love coding, creating, and building stuff.</p>
    </div>
    <div class="projects-box">
      <h2 style="color:white;">My public projects:</h2>
      <div class="row">

      <div class="project-item col">
        <img class = "project-icon"
        src="https://raw.githubusercontent.com/hackharvard/hackharvard.github.io/master/public/HH22_logo.png" alt="">
        <a href="https://devpost.com/software/ctrl-c-and-ctrl-v?ref_content=user-portfolio&ref_feature=in_progress">Ctrl+C; Ctrl+V</a>
        <div class="project-info">
          A web-app that uses Discord bot and  Social Media platforms' APIs to save posts from those platforms.
        </div>
      </div>
      <div class="project-item col">
        <img class = "project-icon"
        src="https://ix.hackutd.co/_next/image?url=%2Fassets%2FHackUTD-IX-Logo.png&w=3840&q=75" alt="">
        <a href="https://devpost.com/software/insure-it-ce2mvr">Review IT</a>
        <div class="project-info">
          A hackathon react-app thatt provides CBRE with actionable insights sourced from customer reviews.
          The app reads customer reviews and determines what improvements can be made to user experience with CBRE.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="project-item col">
        <a href="https://github.com/Eldorbek2001/Travelling-Salesman">Travelling Salesperson</a>
        <div class="project-info">
          This program uses heuristic and recursive approach to solve Travelling Salesman Problem.
          It helps the Salesman find the best way to travel across 10 cities.
        </div>
      </div>
      <div class="project-item col">
        <a href="https://github.com/Eldorbek2001/AlumniAssociation">Alumni Assiciation</a>
        <div class="project-info">
          It is a platform that my friend and I are building for the Alumni of a Language Teaching center.
        </div>

      </div>
    </div>
    <div class="row">
      <div class="project-item col">
        ...
      </div>
      <div class="project-item col">
        ...
      </div>
    </div>
    </div>
    <!-- <img style="border: solid 0px white;" class="skill-gif" src="/gifs/landing_final.gif" alt="gif should be here"> -->
  </div>
  <div class="home-info" id="message">

    <div class="experience-box">

    <h2 style="color:white;">My most recent experience:</h2>

    <div class="experience-item glow">
        <p>me.apply("internship", (res)=>{ <br>
          res.position, <br>
          res.department, <br>
          res.company <br>
        })</p>
    </div>


    <div class="experience-item">
      <h4>Web-Programmer, <br>Facilities Management, <br> The University of Arizona</h4>

    </div>
    <div class="experience-item">
      <h4>Teaching Assistant, <br>Computer Science Dept., <br>The University of Arizona</h4>


    </div>
      <div class="experience-item">
        <h4>English Tutor, <br>LangApex, <br>Time Trusted Quality</h4>
      </div>
      <div class="globe">
        <iframe src="threeJS.html" width="300" height="300">
        </iframe>
      </div>
    </div>

  </div>

</div>
