<div class="landing">
<div class="info">
I'm a web developer
</div>
<div class="myshadow">
  <div class="me">
    <img class = "profile profile-pic" src="images/humanshadow.png" alt="profile-pic.jpg">
      <p>Hello, my name is Ali!</p>
      <ul>
        <li>me, age</li>
        <li>country</li>
        <li>current</li>
      </ul>
</div>
   <img style ="border: solid 0px white;" class = "skill-gif" src="/gifs/git.gif" alt="gif should be here">
</div>
</div>
