<div class="landing">
  <div class="home-info" id="message">

    <div class="experience-box">

    <h2 style="color:white;">My most recent experience:</h2>

    <div class="experience-item">
        <p>me.apply("internship", (res)=>{ <br>
          res.position, <br>
          res.department, <br>
          res.company <br>
        })</p>
    </div>


    <div class="experience-item">
      <h4>Web-Programmer, <br>Facilities Management, <br> The University of Arizona</h4>

    </div>
    <div class="experience-item">
      <h4>Teaching Assistant, <br>Computer Science Dept., <br>The University of Arizona</h4>


    </div>
    <div class="experience-item">
      <h4>English Tutor, <br>LangApex, <br>Time Trusted Quality</h4>

    </div>
    </div>

    <div class="projects-box">
      <h2 style="color:white;">My public projects:</h2>
      <div class="row">

      <div class="project-item col">
      Coming soon
      </div>
      <div class="project-item col">
      Coming soon
      </div>
    </div>
    <div class="row">
      <div class="project-item col">
      Coming soon
      </div>
      <div class="project-item col">
      Coming soon
      </div>
    </div>
    </div>

  </div>



  <div class="myshadow">
    <div class="me">
      <img class="profile profile-pic" src="images/profilepic.jpg" alt="profile-pic.jpg">
      <br>
      <p style="margin-top: 10px; font-size: 20px;">Ali, Computer Science student at the University of Arizona.</p>
      <p style="margin-top: 10px; font-size: 25px; color: white;">I love coding, creating, and building stuff.</p>
    </div>
    <img style="border: solid 0px white;" class="skill-gif" src="/gifs/greeting_updated.gif" alt="gif should be here">
  </div>
</div>
