<div class="skills">
  <div class="wrapper">
  <h2 style="color:white;">I am good at: </h2>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/logos/python.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Python</h5>
    <p class="card-text">I started off my coding adventure with python. I took two college classes and finished intermediate level.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/logos/java.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Java</h5>
    <p class="card-text">I learned nearly the same topics I learned in Python in Java. However, we focused more on upper-level
    coding like the big-O and OOP. <br><br><br></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/logos/js.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Java Script</h5>
    <p class="card-text">Besides the regular college classes, I started learning web-development in my sophamore year.
     In this journey JavaScript has been most helpful language since I could use it both for front-end and back-end development.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/logos/html-5.png" alt="Card image cap">
    <img class="card-img-top" src="/images/logos/css-3.png" alt="Card image cap">
        <div class="card-body">
    <h5 class="card-title">HTML/CSS</h5>
    <p class="card-text">HTML and CSS have always been a part of Web-development, so knowing them is crucial.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/logos/node-js.png" alt="Card image cap">
    <img class="card-img-top" style="background-color: white;" src="/images/logos/mongoDB.png" alt="Card image cap">
      <img class="card-img-top" src="/images/logos/npm.png" alt="Card image cap">
      <img class="card-img-top" src="/images/logos/tgbot.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Other</h5>
    <p class="card-text">As a part of programming, learning packages, modules, APIs
     was very fun and interesting. I use most of them in my apps and add more functionalities.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<br>
<h2 style="color:white;">Currently, I am learning: </h2>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/logos/c-sharp.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">C-Sharp</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/logos/Blazor.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Blazor</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>
