<div class="skills">
  <div class="wrapper">
  <h2 style="color:white;">I am passionate about: </h2>

<div class="row">

      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/logos/python.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">#Python</h5>
            <p class="card-text">I started off my coding adventure with python. I took two college classes and finished intermediate level,
               and right now as a TA, I am helping other students to learn it.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/logos/java.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">//Java</h5>
            <p class="card-text">I learned nearly the same topics I learned in Python in Java. However, it was focused more on upper-level
            coding and mostly Object Oriented Programming!<br><br><br></p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/logos/js.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">//Java Script</h5>
            <p class="card-text">Besides the regular college classes, I started learning web-development in my sophamore year.
             In this journey, JavaScript has been most helpful language since I could use it the whole development process.</p>
            </div>
        </div>
</div>
<div class="row">


        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/logos/html-5.png" alt="Card image cap">
            <img class="card-img-top" src="/images/logos/css-3.png" alt="Card image cap">
                <div class="card-body">
            <h5 class="card-title"><-- HTML & CSS */</h5>
            <p class="card-text">HTML and CSS have always been a part of Web-development, so knowing them is crucial.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/logos/telerik.png" alt="Telerik.png">
          <img class="card-img-top" src="/images/logos/Blazor.png" alt="Blarzor.png">
          <div class="card-body">
            <h5 class="card-title">Telerik, Blazor</h5>
            <p class="card-text">I know Telerik and Blazor fairly well. I have been using them at my part-time software developer job.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/images/logos/node-js.png" alt="Card image cap">
            <img class="card-img-top" style="background-color: white;" src="/images/logos/mongoDB.png" alt="Card image cap">
              <img class="card-img-top" src="/images/logos/npm.png" alt="Card image cap">
              <img class="card-img-top" src="/images/logos/tgbot.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Other</h5>
            <p class="card-text">As a part of programming, learning packages, modules, APIs
             was very fun and interesting. I use most of them in my apps and add more functionalities.</p>
          </div>
        </div>

  </div>
<br>
<h2 style="color:white;">Currently, I am learning: </h2>
<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/logos/React.png" alt="react.png">
    <div class="card-body">
      <h5 class="card-title">React</h5>
      <p class="card-text">I started learning React. Currently, I am working on
      changing this site into a react one!</p>
          <a href="https://github.com/Eldorbek2001/profileReact" class="btn btn-success">Here</a>
    </div>
  </div>
</div>
</div>
